%h1 
  HOLA SOY about

%nav
  %ul
    %li
      - if params[:controller] == 'pages' && params[:action] == 'index'
        %b Home
      - else
        %a{ href: '/'} Home
    %li
      - if params[:controller] == 'pages' && params[:action] == 'about'
        %b About 
      - else
        %a{ href: '/about'} About
    
%p
  Hola
  = @name || '!'
  - if @name == 'Invitado'
    Puedes decirme tu nombre agregando <b>?=nombre=manuel</b> a la URL.
  - else 
    Gracias por decirme tu nombre!
%a{href: 'http://haml.info/'}
  La documentacion de haml esta aqui!!!
  
