%h1
  Bienvenidos a Bice Vida
  = render 'navigation'
%p
  Hola
  = @name + '!'
%p= display_instructions_or_thanks
%a{href: 'http://haml.info/', title: 'Documentación oficial de HAML'}
  La documentación de HAML está aquí!
