%a (href: '/about', title: 'Acerca de')



<p>
Hola 
</p>
%p
  = @name + '!'
  - if @name == 'Invitado'
    Puedes decirme tu nombre agragando <b>?=nombre=Manuel</b> a la URL. 
  - else
    Gracias por decirme tu nombre!
<p>
Estoy usando Hamel
</p>
