%h1
  Bienvenidos a Bice Vida

%nav
  %ul
    %li
      -if (params[:controller] == 'pages' && params[:action] == 'bice')
        %span <b>Home</b>
      - else
        %a{ href: '/', title: 'Página de inicio' } Home
    %li
      -if params[:controller] == 'pages' && params[:action] == 'about'
        %span <b>About</b>
      - else
        %a{ href: '/about', title: 'Acerca de...' } About
%p
  Hola
  = @name + '!'
  - if @name == 'Invitado'
    Puedes decirme tu nombre agregando <b>?=nombre=Manuel</b> a la URL.
  - else
    Gracias por decirme tu nombre!

%a{href: 'http://haml.info/', title: 'Documentación oficial de HAML'}
  La documentación de HAML está aquí!